1 VERSIONINFO
FILEVERSION     0,1
PRODUCTVERSION  0,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Jonathan Redeker"
      VALUE "FileDescription", "Get lost"
      VALUE "FileVersion", "0.1-alpha"
      VALUE "InternalName", "carbon"
      VALUE "LegalCopyright", "Jonathan Redeker"
      VALUE "OriginalFilename", "carbon.exe"
      VALUE "ProductName", "Carbon"
      VALUE "ProductVersion", "0.1-alpha"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

IDI_MYAPP_ICON          ICON                    "../data/icons/icon.ico"
IDI_MYAPP_ICON_SMALL    ICON                    "../data/icons/icon.ico"